/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.loader.modal {
  .modal-content {
    background-color: transparent;
    border: none;

    .ng-fa-icon {
      margin: 0 auto;
    }
  }
}
